@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.cursivefont {
    font-family: 'Cedarville Cursive', cursive;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.mybox {
    border-radius: 50px;
    background: #79a481;
    box-shadow: 20px 20px 60px #3f5543,
        -20px -20px 60px #b3f3bf;
        
}

.mybutton {
    padding: 8px 40px;
    border: 0;
    border-radius: 100px;
    background-color: #323924;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  
  .mybutton:hover {
    background-color: #3239246c;
    box-shadow: 0 0 20px #fff8e3a5;
    transform: scale(1.1);
    color: #323924;
  }
  
  .mybutton:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
  }
